* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans";
}

.container {
  display: grid;
  place-content: center;
  background-color: rgba(219, 234, 254, 1);
  width: 100vw;
  height: 100vh;
  color: rgba(31, 41, 55, 1);
}

.calc-container {
  background-color: rgba(129, 140, 248, 1);
  border-radius: 5px;
  padding: 20px;
}

.calc-title {
  color: rgba(243, 244, 246, 1);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}

.calc-screen {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(243, 244, 246, 1);
  place-content: center;
}

.calc-clear {
  color: rgba(239, 68, 68, 1);
  font-weight: bold;
  text-transform: uppercase;
}

#calc-result {
  align-self: flex-end;
  font-size: 24px;
}

.calc-form {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.calc-form > input {
  background-color: rgba(219, 234, 254, 1);
  flex: 20%;
  padding: 3%;
  margin-top: 10px;
  margin-right: 1.5%;
  margin-left: 1.5%;
  border-radius: 5px;
}
.calc-form > input:hover {
  border-color: rgba(129, 140, 248, 1);
}
